@font-face {
   font-family: 'Bauhaus 93';
   font-display: swap;
   src: url('file:///C:/Users/MKT13/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-03-19_131733/fonts/Bauhaus%2093/font.ttf');
}
